body{
    background-size: cover;
}
.heading{
    font-size: 25px;
margin: 0;
width: 100%;

}
.note{
    font-size: 15px;
    color: black;
}
.disk_img,.disk_img_2{
    width:200px;
    border-radius: 100px;
    
}
.speed{
    float: left;
}
.volume{
    float: right;
}

canvas{
    border:solid black ;
}